/*coje directamente id resultado*/
#resultado{
    width: 16.62rem;
   height: 5rem;
   position: relative;
   background-color: rgb(7, 7, 7);
   margin: 10px auto;
   padding: 20px ;
   border-radius:0 0 0 30px/45px;
   box-shadow: 
        inset 0 40px 40px rgb(0, 0, 0 ,0.2),
        inset 0 25px 10px rgb(0, 0, 0 ,0.2),
        0 5px 6px 6px rgb(0, 0, 0 ,0.2);
    font-family: 'Algerian', cursive;
    font-size: 12px;
}