button{
    text-align: center;
    text-shadow: 0 1px rgba(0, 0, 0, 0.2);
    font-family: Arial, Helvetica, sans-serif;
    color: wheat;
    background-color: darkslategrey;
    padding: 10px 21px;
    transition: all 0.2s ease-in-out;
    border-radius: 100px;
    margin: 10px 15px;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    -webkit-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    text-shadow: 
    0px 1px 0px rgb(151, 97, 97),
    0px 2px 0px rgb(149, 92, 92),
    0px 3px 0px rgb(145, 87, 87),
    0px 4px 0px rgb(141, 83, 83),
    0px 5px 1px #080808,
    0px 5px 0px rgba(0,0,0,0.25),
    0px 10px 0px rgba(0,0,0,0.2),
    0px 11px 0px rgba(0,0,0,0.15)
    ;

}
.mensaje{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    color: rgb(220, 221, 181);
    text-shadow: 
    0px 1px 0px #ddd,
    0px 2px 0px #ccc,
    0px 3px 0px #bbb,
    0px 4px 0px #aaa,
    0px 5px 1px #acacca,
    0px 6px 1px rgba(0, 0, 0, 0.1),
    0px 0px 5px rgba(0,0,0,0.1),
    0px 1px 0px rgba(0,0,0,0.3),
    0px 3px 0px rgba(0,0,0,0.2),
    0px 5px 0px rgba(0,0,0,0.25),
    0px 10px 0px rgba(0,0,0,0.2),
    0px 11px 0px rgba(0,0,0,0.15)
    ;

}